<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<div class="container">

  <form ng-submit='addAlbum()'>
    <fieldset class="form-group">
            <label>Album Name:</label>
            <input type="text" class="form-control" ng-model='albumName' placeholder="Name">
    </fieldset>
    <fieldset class="form-group">
            <label>Image Url:</label>
            <input type="url" class="form-control" ng-model='imageUrl' placeholder="Image url">
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button
  </form>

  <table class="table table-hover">
    <thead>
      <th>Album</th>
      <th>Delete?</th>
    </thead>
    <tbody>
      <tr ng-repeat='album in albums' class='animated fadeIn'>
        <td><a ng-click='goTo($index)'>{{album.name}}</a></td>
        <td>
          <button class='btn btn-danger btn-xs' ng-click='deleteAlbum($index)'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
